.list {
    color: #fff;
    width: 300px;
    background-color: skyblue;
    height: 50px;
    margin: 20px auto;
    border-radius: 5px;
}

.list p{
    padding: 12px;


}
.list p input {
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 18px;
}
.list p input:focus {
    outline: none;
}