.userName {
    color: white;
}
.coverPicture {
    height: auto;
    width: 100vw;
    z-index:1;
    display:flex;
}
#coverPicture {
    flex:1;
    width:100%;
}
.personalPageButton {
    color: red;
    height: 25px;
    width: 20vw;

}
.actionBar {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: white;
}