.userName {
    height: 5vh;
    width: 100vw;
    font-family: 'Montserrat, sans-serif';
    position: relative;
    color: black;
    margin-left: 4vw;
    margin-top: vh;
    font-size: 7vw;
    /* letter-spacing: -1px; */
}