.joinOuterContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: var(--secondaryBGC);
  color: var(--secondaryTC);
  position: absolute;
  top: 0;
  transition: ease 0.5s;
  opacity: 1;
  width: 100vw;
}

.joinOuterContainer.hidden {
  top: 100vh;
  opacity: 0;
}

.joinInnerContainer {
  height: 94vh;
  background-color: var(--tertiaryBGC);
  margin: 0 6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 3vw 10vh;
}

.joinInput {
  border: 1px solid black;
  height: 5vh;
  padding-left: 2vw;
  width: 100%;
}

.join-heading {
  color: var(--secondaryTC);
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.chat-join {
  width: 85%;
  align-items: center;
}