.list {
    color: var(--secondaryTC);
    width: 300px;
    background-color: var(--tertiaryBGC);
    /* height: 70px; */
    margin: 20px auto;
    border-top: 1px solid grey;
}

.input {
    width: 220px;
    background-color: var(--tertiaryBGC);
    border: none;
    outline: none;
    color: var(--secondaryTC);
    font-size: 20px;
    overflow: hidden;
}

.list p{
    padding: 12px;


}
.list p input {
    background-color: transparent;
    border: 0;
    color: var(--secondaryTC);
    font-size: 18px;
}
.list p input:focus {
    outline: none;
}