body {
    background-color: var(--secondaryBGC);
}

/* WALL STYLES */
.userFeedForm {
    z-index: 0;
    position: absolute;
    top: 15vh;
    opacity: 1;
    transition: ease 0.5s;
}

.userFeedForm.hidden {
    top: 100vh;
    opacity: 0;
}

.userFeedForm textarea {
    height: 40vh;
    width: 100vw;
    margin: 0;
    border-radius: 0;
}

.userFeedForm textarea::placeholder{
    color: var(--tertiaryTC);
}

.userFeedForm textarea:focus, .userWall button:focus {
    outline: none;
}

.userFeedForm button {
    height: 45px ;
    width: 80px;
    border: 0;
    background-color: var(--primaryBGC);
    cursor: pointer;
    color: var(--primaryTC);
    margin-top: 5px;
    position: absolute;
    right: 10px;
}

.Wall {   
    background-color: var(--tertiaryBGC);
    min-height: 650px;
    width: 600px;
    margin: 40px auto;

}

.userInput { 
    background-color: var(--tertiaryBGC);
    border: 0;
    width: 300px;
    height: 70px;
    padding: 20px 10px 10px 10px;
    margin: 20px;
    font-size: 20px;
    border-radius: 10px;
    color: var(--secondaryTC);  
    
}


.user-container {
    display: flex;
    justify-content: center;
}