.list {
    color: var(--secondaryTC);
    width: 100vw;
    background-color: var(--tertiaryBGC);
    /* height: 70px; */
    /* margin: 20px auto; */
    border-bottom: 1px solid grey;
}

.feedInput {
    width: 100vw;
    background-color: var(--tertiaryBGC);
    border: none;
    outline: none;
    color: var(--secondaryTC);
    font-size: 20px;
    overflow: hidden;
    height: auto;
    padding-left: 10px;
}

.list p{
    padding: 5px;
    margin: 0;
}
.list p input {
    background-color: transparent;
    border: 0;
    color: var(--secondaryTC);
    font-size: 18px;
}
.list p input:focus {
    outline: none;
}

.list button {
    margin-left: 90%;
}