.wrapper {
    color: var(--primaryTC);
    text-align: right;
}

.nav {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.menu-item {
    color: var(--primaryTC);
    margin: 20px;
}