.header-wrapper {
    background-color: var(--primaryBGC);
    color: var(--primaryTC);
    position: fixed;
    bottom: 6vh;
    width: 100%;
    opacity: 1;
    transition: ease 0.5s;
    z-index: 1;
}

.header-wrapper.hidden {
    transform: translateY(322%);
    opacity: 0;
}

.nav {
    display: grid;
    list-style: none;
    justify-content: center;
    text-align: center;
}

.menu-item {
    color: var(--primaryTC);
    padding: 10px;
    border-bottom: 1px solid var(--tertiaryBGC);
}

.menu-item.last {
    border-bottom: none;
}