.homebody-outer-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: white;
    color: var(--secondaryTC);
}

.homebody-inner-container {
    height: 82vh;
    background-color: var(--secondaryBGC);
    margin: 0 6vw 12vh;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homebody-buttons {
    display: flex;
    flex-direction: column;
}

.homebody-button {
    width: 35vw;
    height: 3%;
    background-color: var(--primaryBGC);
    color: var(--primaryTC);
    flex: 1;
    border: none;
    transition: ease 0.2s;
}

.homebody-button#register {
    margin-top: 5%;
    background-color: transparent;
    border: 2px solid var(--primaryBGC);
    color: var(--tertiaryTC);
}

.homebody-footer-links {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: var(--primaryBGC);
    color: var(--primaryTC);
}

.homebody-footer-links {
    margin: 0 auto;
}

.homebody-footer-links h5 {
    margin: 1vh;
}

.skull-logo img {
    width: 20vw;
    height: auto;
    margin-bottom: 3vh;
}

@media (min-height: 700px) {
    .homebody-inner-container {
        padding-bottom: 10vh;
    }
    .skull-logo img {
        margin-bottom: 10vh;
    }
}