.UserRegistrationOuterContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: var(--secondaryBGC);
    color: var(--secondaryTC);
}

.UserRegistrationInnerContainer {
    height: 94vh;
    background-color: var(--tertiaryBGC);
    margin: 0 6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3vw 10vh;
}

.register {
    width: 85%;
    align-items: center;
  }

.register.user,
.register.email, 
.register.password,
.register.confirm-password {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-gap: 2vw;
}

.heading {
    color: black;
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
  }

  .UserRegistrationInnerContainer h1 {
    color: var(--secondaryTC);
  }

  .UserRegistrationInnerContainer h5 {
    margin: 2vh 0;
    color: var(--tertiaryTC);
  }

  .input {
    border: 1px solid black;
    height: 5vh;
    padding-left: 2vw;
  }

.passwords-match {
    visibility: hidden;
    color: var(--errorTC);
    margin: 1vh 0 0;
}

.passwords-no-match {
    visibility: visible;
}