body {
  color: white;
}

.actionBar {
    height: 6vh;
    position: fixed;
    bottom: 0;
    width: 100vw;
    justify-content: center;
    display:grid;
    grid-template-columns: 
    1fr
    1fr 1fr 1fr 1fr;
    margin: auto;
    padding: 10px;
    background-color: white;
}

.personalPageButton {
    background-color: transparent;
    border: none;
    height: 80%;
    width: auto;
    justify-self: center;
}
