body {
    background-color: black;
}

/* WALL STYLES */
.userWall textarea::placecholder{
    color: rgb(240, 200, 22)
}

.userWall textarea:focus, .userWall button:focus {
    outline: none;
}

.userWall button {
    height: 65px ;
    width: 80px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(202,156,24);
    cursor: pointer;
    color: white;
    /* position: absolute;
    top: 125px; */
    margin-top: 25px;

}
.Wall {   
    background-color: ivory;
    min-height: 650px;
    width: 600px;
    margin: 40px auto;

}

.userInput { 
    background-color: rgb(27, 159, 159);
    border: 0;
    width: 300px;
    height: 70px;
    padding: 20px 10px 10px 10px;
    margin: 20px;
    font-size: 20px;
    border-radius: 10px;
    color: white;  
    
}


.user-container {
    margin: 20px auto;
    display: flex;
    justify-content: center;
}