.form {
  position: fixed;
  display: flex;
  border-top: 2px solid #D3D3D3;
  bottom: 0;
  width: 100vw;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
  height: 100%;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important; /* <- THAT'S ROCHELLE!!!! */
  text-transform: uppercase;
  text-decoration: none;
  background: var(--primaryBGC);
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
}

.sendButton h3 {
  margin: 0;
}