.coverPicture {
    width: 94%;
    height: 33vh;
    z-index:1;
    padding: 3vh 1vw;
    margin: auto;
    padding-bottom: 0;
}

.coverPictureContainer {
    height: 100%;
    box-shadow: 5px 5px 15px rgb(209, 209, 209);
    overflow: hidden;
    justify-content: center;
    display: grid;
    border-radius: 15px;
}
#coverPicture {
   height: 100%;
}